@import "../../../themes/mixin";

.bulbasaur__content, .bulbasaur__number {
	width: 140px;
	color: white;
	text-align: center;

	@include tablet() {
		width: 172px;
	}
}

.bulbasaur__number {
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	line-height: 39.31px;
	letter-spacing: 0.08px;
	font-family: "Sigmar One", cursive;
}

.bulbasaur__image {
	width: 160px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../../assets/images/CircleBackground.png");

	@include tablet() {
		width: 192px;
		height: 192px;
	}
}

.bulbasaur__content {
	margin-left: auto;
	margin-right: auto;
}

.bulbasaur__content__title {
	font-family: "Poppins", sans-serif;
	margin-top: 12px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.bulbasaur__content__description {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.04px;
	font-weight: 300;
}