<div class="bulbasaur">
    <div class="bulbasaur__number">{{number}}</div>
    <div class="bulbasaur__image flex flex_center" [style]="backgroundImage ? 'background-image: url('+ backgroundImage +')': ''">
        <img [src]="image" [alt]="title"/>
    </div>
    <div class="bulbasaur__content">
        <div class="bulbasaur__content__title">{{title}}</div>
        <div class="bulbasaur__content__description">{{description}}</div>
    </div>
</div>