@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../assets/fonts/Poppins/Poppins-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Sigmar One";
  src: local("Sigmar One"), url(../assets/fonts/Sigmar_One/SigmarOne-Regular.ttf) format("truetype");
}