@mixin tablet($minWidth: 600px) {
    @media (min-width: $minWidth) {
        @content
    }
}

@mixin laptop($minWidth: 960px) {
    @media (min-width: $minWidth) {
        @content
    }
}

@mixin desktop($minWidth: 1200px) {
    @media (min-width: $minWidth) {
        @content
    }
}

@mixin container() {
    padding-left: 24px;
    padding-right: 24px;
}
