@import "../../../themes/mixin";

:host {
	display: block;
	height: 100%;
}

.content {
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
}

.pokemon {
	background-color: #F5A623;
}

.pokemon__header {
	height: 67px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../../assets/images/HeaderRectangle.png");

	@include tablet() {
		height: 168px;
	}

	@include desktop() {
		height: 313px;
	}
}

.pokemon__header__title {
	color: #F5A623;
	font-size: 38px;
	letter-spacing: 0.47px;
	transform: rotate(-7deg);
	top: 25px;
	position: absolute;
	font-family: "Sigmar One", cursive;

	@include tablet() {
		font-size: 90px;
		top: 89px;
	}

	@include desktop() {
		top: 190px;
		font-size: 150px;
	}
}

.pokemon__content__header__title {
	color: white;
	top: 24px;
	text-align: right;
	position: relative;
	letter-spacing: 0.15px;
	font-family: "Sigmar One", cursive;

	@include tablet() {
		font-size: 48px;
		top: 15px;
	}
}

.pokemon__content__header_box {
	width: 310px;
	height: 53px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../../assets/images/Rectangle.png");

	@include tablet() {
		width: 613px;
		height: 105px;
	}
}

.pokemon__content__header__box__title {
	font-size: 10px;
	padding-top: 4px;
	margin-left: 12px;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	letter-spacing: 0.04px;
	margin-bottom: 0;

	@include tablet() {
		font-size: 14px;
		margin-bottom: 2px;
		margin-left: 20px;
		padding-top: 18px;
	}
}

.pokemon__content__header__box__description {
	font-size: 9px;
	margin-left: 25px;
	margin-right: 15px;
	line-height: 11px;
	font-weight: 300;
	font-style: italic;
	letter-spacing: 0.04px;
	word-break: break-word;
	font-family: "Poppins", sans-serif;

	@include tablet() {
		line-height: 21px;
		margin-left: 45px;
		margin-right: 45px;
		font-size: 14px;
	}
}

.pokemon__content__bulbasaur__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 52px;
	margin-bottom: 52px;

	@include tablet() {
		margin-top: 62px;
		margin-bottom: 62px;
	}

	@include desktop() {
		width: 1056px;
	}
}

.pokemon__content__bulbasaur__item {
	@media (max-width: 600px) {
		&:nth-child(even) {
			margin-top: 52px;
		}
	}

	@include tablet() {
		&:nth-child(2), &:nth-child(4), &:nth-child(7), &:nth-child(9) {
			margin-top: 62px;
		}
	}
}

.pokemon__footer {
	height: 47px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../../assets/images/FooterRectangle.png");

	@include tablet() {
		height: 114px;
		margin-top: 45px;
	}

	@include desktop() {
		height: 214px;
	}
}

.pokemon__footer__yeah {
	font-size: 38px;
	color: white;
	position: absolute;
	transform: rotate(5deg);
	top: -7px;
	right: 12px;
	letter-spacing: 0.47px;
	font-family: "Sigmar One", cursive;

	@include tablet() {
		top: 5px;
		font-size: 90px;
	}

	@include desktop() {
		font-size: 150px;
		top: 60px;
	}

	@media (max-width: 1440px) {
		top: 20px;
	}

}