<div class="content">
    <div class="pokemon">
        <div class="pokemon__header">
            <h1 class="pokemon__header__title">Pokemon!</h1>
        </div>
        <div class="pokemon__content">
            <div class="flex flex_center flex_column">
                <div class="pokemon__content__header">
                    <h1 class="pokemon__content__header__title">STARTERS</h1>
                    <div class="pokemon__content__header_box">
                        <h5 class="pokemon__content__header__box__title">Starter Pokemon</h5>
                        <p class="pokemon__content__header__box__description">
                            Starter pokemon are the cutest pokemon in the world! They hold the world
                            record for cuteness!
                        </p>
                    </div>
                </div>
                <div class="pokemon__content__bulbasaur__list">
                    <ng-container *ngFor="let bulbasaur of bulbasaurs">
                        <app-component-bulbasaur
                                class="pokemon__content__bulbasaur__item"
                                [number]="bulbasaur.number"
                                [description]="bulbasaur.description"
                                [image]="bulbasaur.image"
                                [backgroundImage]="bulbasaur.backgroundImage"
                                [title]="bulbasaur.title">
                        </app-component-bulbasaur>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="pokemon__footer">
            <h1 class="pokemon__footer__yeah">YEAH!</h1>
        </div>
    </div>
</div>
