// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your themes using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pokemon-primary: mat.define-palette(mat.$indigo-palette);
$pokemon-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pokemon-warn: mat.define-palette(mat.$red-palette);

// Create the themes object. A themes consists of configurations for individual
// theming systems such as "color" or "typography".
$pokemon-theme: mat.define-light-theme((
	color: (
		primary: $pokemon-primary,
		accent: $pokemon-accent,
		warn: $pokemon-warn,
	)
));

// Include themes styles for core and each component used in your app.
// Alternatively, you can import and @include the themes mixins for each component
// that you are using.
@include mat.all-component-themes($pokemon-theme);

/* You can add global styles to this file, and also import other style files */

@import 'themes/classes';
@import 'themes/fonts';

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
